* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

.container {
    max-width: 1240px;
    margin: auto;
    padding: 0 20px 100px 0;
    user-select: none;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;

    .image {
        position: relative;

        .tesla {
            width: 100%;
            object-fit: contain;
        }

        .balon{
            animation: rotateBalon 1s infinite;
        }

        .balon1 {
            position: absolute;
            top: 333px;
            left: 313px;
        }

        .balon2 {
            position: absolute;
            top: 333px;
            right: 326px;
        }
    }

}

.info {
    display: flex;
    gap: 117px;

    .price{
        width: 240px;
        white-space: nowrap;
    }

    div {
        p {
            font-weight: 500;
            font-size: 20px;
            color: #707070;
        }

        h1 {
            font-weight: 700;
            font-size: 64px;
        }
    }
}

.bottom {
    nav {
        display: flex;
        gap: 54px;
        justify-content: center;
        flex-wrap: wrap;

        .conditioner{
            width: 90px;
        }

        .disks{
            width: 100px;
        }

        .speed h1{
            width: 200px;
        }

        p {
            color: #707070;
            font-weight: 500;
            font-size: 14px;
        }

        .speed,
        .temperature,
        .disks {
            display: flex;
            align-items: center;
            gap: 34px;

            h1 {
                font-weight: 700;
                font-size: 48px;
            }

            .btns {
                display: flex;
                flex-direction: column;
                gap: 6px;

                & :last-child {
                    rotate: 180deg;
                }

                img:hover {
                    filter: drop-shadow(0 0 5px black);
                    cursor: pointer;
                }
            }
        }

        .conditioner,
        .long_range,
        .car_view {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: start;

            .switch {
                width: 40px;
                height: 25px;
                background-color: #8E9AA7;
                position: relative;
                cursor: pointer;
                border-radius: 15px;
                transition: .4s ease;

                &::after {
                    content: '';
                    display: block;
                    background-color: white;
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    position: absolute;
                    top: 2.5px;
                    left: 2.5px;
                    transition: .4s ease;
                }
            }
        }
    }
}

.on {
    background-color: #004DFF !important;
}

.on::after {
    left: 16.5px !important;
}

.unclickable{
    filter: invert(50%);
}

@keyframes rotateBalon {
    0% {
        rotate: 0deg;
    }

    3% {
        rotate: -11deg;
    }

    6% {
        rotate: -22.5deg;
    }

    9% {
        rotate: -33.5deg;
    }

    12% {
        rotate: -45deg;
    }

    15% {
        rotate: -56deg;
    }

    18% {
        rotate: -67.5deg;
    }

    21% {
        rotate: -78.5deg;
    }

    25% {
        rotate: -90deg;
    }

    28% {
        rotate: -101deg;
    }

    31% {
        rotate: -112.5deg;
    }

    34% {
        rotate: -123.5deg;
    }

    37% {
        rotate: -135deg;
    }

    40% {
        rotate: -146deg;
    }

    43% {
        rotate: -157.5deg;
    }

    46% {
        rotate: -168.5deg;
    }

    50% {
        rotate: -180deg;
    }

    53% {
        rotate: -191deg;
    }

    56% {
        rotate: -202.5deg;
    }

    59% {
        rotate: -213.5deg;
    }

    62% {
        rotate: -225deg;
    }

    65% {
        rotate: -236deg;
    }

    68% {
        rotate: -247.5deg;
    }

    71% {
        rotate: -258.5deg;
    }

    75% {
        rotate: -270deg;
    }

    78% {
        rotate: -281deg;
    }

    81% {
        rotate: -292.5deg;
    }

    84% {
        rotate: -304.5deg;
    }

    87% {
        rotate: -315deg;
    }

    90% {
        rotate: -326deg;
    }

    93% {
        rotate: -337.5deg;
    }

    96% {
        rotate: -348.5deg;
    }

    100% {
        rotate: -360deg;
    }
}